%div{"ng-controller" => "Ec2InstanceCostsCtrl", "ng-init" => "getCosts()", "data-bill_dates" => @available_dates, "id" => "Ec2InstanceCostsCtrl"}
  .row-fluid
    .span12
      %h1 Billing for {{dateUI}}
  .row-fluid
    .span7
      %select{"id" => "change_date", "name" => "change_date", "ng-model" => "date", "ng-change" => "getCosts()", "ng-options" => "o[0] as o[1] for o in options", "value" => "o"}

      %table.table
        %thead
          %tr
            %th Team
            %th Costs
            %th 
        %tbody
          %tr{"ng-repeat" => "cost in costs"}
            %td
              %a{:href => "/teams/{{cost.id}}"} {{cost.name}}
            %td ${{cost.costs}}
            %td
              %a{"id" => "details_{{cost.id}}","href" => "/ec2_instance_costs/#", "ng-click" => "showDetails(cost.id, cost.name)", "title" => "Open details"}
                Details for {{cost.name}}
                %i.icon-chevron-right

          %tr.warning
            %td Total for instances created in Pantry
            %td ${{total_pantry_costs}}
            %td
          %tr
            %td
            %td
            %td
          %tr.success
            %td
              %strong
                Total costs for AWS
            %td
              %strong
                ${{total_costs}}
                %td
    .span5
      %div{"ng-show" => "team_id"}
        %h3 Details for team {{name}}
        %p {{render_estimated}}

        %table.table.details
          %thead
            %tr
              %th Instance name
              %th Costs
          %tbody
            %tr{"ng-repeat" => "cost_detail in cost_details"}
              %td
                %a{"href" => "/aws/ec2_instances/{{cost_detail.ec2_instance_id}}"} {{cost_detail.ec2_instance.name}}.{{cost_detail.ec2_instance.domain}}
              %td {{cost_detail.cost}}
