.bill_dates{ data: { preload_resource: @available_dates.to_json, preload_resource_name: 'bill_dates' } }
#Ec2InstanceCostsCtrl{ data: { ng_controller: 'Ec2InstanceCostsCtrl', ng_init: 'getCosts()' } }
  .row-fluid
    .span12
      %h1 Billing for {{dateUI}}
  .row-fluid
    .span7
      %select#change_date{ data: { ng_model: 'date', ng_change: 'getCosts()', ng_options: 'o[0] as o[1] for o in options' }, value: 'o' }

      %table.table
        %thead
          %tr
            %th
              %a{ data: { ng_click: 'sortTeamsBy("name")' }, title: 'Team' }
                Team
            %th
              %a{ data: { ng_click: 'sortTeamsBy("parsed_costs")' }, title: 'Costs' }
                Costs
            %th
        %tbody
          %tr{ data: { ng_repeat: 'cost in costs' } }
            %td
              %a{ href: '/teams/{{cost.id}}', data: { ng_hide: 'cost.disabled' } } {{cost.name}}
              .team{ data: { ng_show: 'cost.disabled' } } {{cost.name}} (inactive)
            %td ${{cost.costs}}
            %td
              %a{ id: 'details_{{cost.id}}', href: '', data: { ng_click: 'showDetails(cost.id, cost.name, cost.disabled)' }, title: 'Open details' }
                Details for {{cost.name}}
                {{ cost.disabled | conditionalText :"(inactive)"}}
                %i.icon-chevron-right

          %tr.warning
            %td
              %a{ id: 'all_details_costs', href: '', data: { ng_click: 'showDetailsForAllTeams()' }, title: 'Total for instances created in Pantry' }
                Total for instances created in Pantry
            %td ${{total_pantry_costs}}
            %td
          %tr
            %td
            %td
            %td
          %tr.success
            %td
              %strong
                Total costs for AWS
            %td
              %strong
                ${{total_costs}}
                %td
    .span5
      .team_details{ data: { ng_show: 'cost_details' } }
        %h3{ data: { ng_show: 'team_id' } }
          Details for team {{name}}
          {{ disabled | conditionalText :"(inactive)"}}
        %h3{ data: { ng_hide: 'team_id' } }
          Costs for all instances
        %p {{render_estimated}}
        %table.table.details
          %thead
            %tr
              %th
                %a{ data: { ng_click: 'sortInstancesBy("name")' }, title: 'Instance name' }
                  Instance name
              %th
                %a{ data: { ng_click: 'sortInstancesBy("parsed_cost")' }, title: 'Costs' }
                  Costs
          %tbody
            %tr{ data: { ng_repeat: 'cost_detail in cost_details' } }
              %td
                %a{ href: '/aws/ec2_instances/{{cost_detail.ec2_instance_id}}' } {{cost_detail.ec2_instance.name}}.{{cost_detail.ec2_instance.domain}}
              %td {{cost_detail.cost}}
