%h1 Jenkins Slaves

= link_to "Go back to master server ##{@jenkins_server.id}", jenkins_server_path(@jenkins_server)

%table.table
  %thead
    %tr
      %th #
    - @slaves.each do |slave|
      - if slave.ec2_instance
        %tr
          %td= slave.id

        