%h1 User 
%strong Username:
%p= @user.username
%strong Email:
%p= mail_to @user.email
- if @ec2_instances.present?
  %h4
    Instances
  %table.table
    %thead
      %tr
        %th #
        %th Address
        %th Status
        %th OS
        = render partial: 'shared/ec2_instance_row', collection: @ec2_instances
