.instance_role_subvalue.instance_flavor_details{:style=>"display:none;"}
  %h6
    .row-fluid
      .span2
        Price windows:
      .span2.price_per_hour_windows
    .row-fluid
      .span2
        Price linux:
      .span2.price_per_hour_linux
    .row-fluid
      .span2
        Virtual cores:
      .span2.virtual_cores
    .row-fluid
      .span2
        RAM:
      .span2.ram 