.bs-docs-grid{style: 'text-align: center; vertical-align: middle;'}
  .row-fluid
    = link_to image_tag('pantry_organized.jpg', alt_text: 'Pantry'), packages_url
  .row-fluid
    %h3
      Welcome To Pantry
