# Just like the config/database.yml this file requires an entry for each environment
# http://aws.amazon.com/security-credentials
test:
  access_key_id: test
  secret_access_key: your_secret_access_key
  region: eu-west-1
development:
  access_key_id: your_access_key_id
  secret_access_key: your_secret_access_key
  region: eu-west-1
production:
  access_key_id: your_access_key_id
  secret_access_key: your_secret_access_key
  region: eu-west-1
