development:
  allowed_users:
    - 'your.email@example.com'
  omniauth:
    title: "Pantry LDAP Login"
    host: "ldap.example.com"
    port: 3268
    method: 'plain'
    base: "dc=example,dc=com"
    uid: "sAMAccountName"
    bind_dn: "your_user@example.com"
    password: "secret_password"
    auth_method: "simple"
  aws:
    chef_env_create_queue_name: some_queue
    terminate_queue_name: pantry_wonga_aws-ec2_terminate_command
    jenkins_slave_delete_topic_arn: pantry_wonga_aws-some_topic
    boot_machine_queue_name: pantry_wonga_aws-ec2_boot_command
    vpc_id: "vpc-00110011"
    security_group_windows: "sg-00110011"
    security_group_linux: "sg-00110010"
    security_group_jenkins: "sg-00110012"
    key_pair_name: "aws-ssh-keypair"
    http_proxy: "http://proxy.example.com:8080"
    windows_admin_password: "secreat_password"
    jenkins_flavor: "t1.micro"
    jenkins_windows_ami: "ami-00110011"
    jenkins_linux_ami: "ami-00110010"
    jenkins_linux_server_role: "role[jenkins_linux_server]"
    jenkins_windows_agent_role: "role[jenkins_windows_agent]"
    default_subnet: "subnet-00110011"
    ebs:
      't1.micro': 80
      'm1.small': 160
      'm1.medium': 410
      'm1.large': 840
  pantry:
    domain: "example.com"
    default_ou: "OU=Computers,DC=wonga,DC=aws"
    api_key: "00110011-0011-0011-0011-001100110011"
    webapp:
      ssl_enabled: false
test:
  omniauth:
    title: "Pantry LDAP Login"
    host: "ldap.example.com"
    port: 3268
    method: 'plain'
    base: "dc=example,dc=com"
    uid: "sAMAccountName"
    bind_dn: "your_user@example.com"
    password: "secret_password"
    auth_method: "simple"
  aws:
    boot_machine_queue_name: pantry_wonga_aws-ec2_boot_command
    terminate_queue_name: pantry_wonga_aws-ec2_terminate_command
    jenkins_slave_delete_topic_arn: pantry_wonga_aws-some_topic    
    chef_env_create_queue_name: some_queue
    billing_bucket: "some-bucketname"
    vpc_id: "vpc-00110011"
    security_group_windows: "sg-00110011"
    security_group_linux: "sg-00110010"
    security_group_jenkins: "sg-00110012"
    key_pair_name: "aws-ssh-keypair"
    http_proxy: "http://proxy.example.com:8080"
    windows_admin_password: "secreat_password"
    jenkins_flavor: "t1.micro"
    jenkins_windows_ami: "ami-00110011"
    jenkins_linux_ami: "ami-00110010"
    jenkins_linux_server_role: "role[jenkins_linux_server]"
    jenkins_windows_agent_role: "role[jenkins_windows_agent]"
    default_subnet: "subnet-00110011"
    ebs:
      't1.micro': 80
      'm1.small': 160
      'm1.medium': 410
      'm1.large': 840
  pantry:
    domain: "example.com"
    default_ou: "OU=Computers,DC=wonga,DC=aws"
    api_key: "00110011-0011-0011-0011-001100110011"
    webapp:
      ssl_enabled: false
