development:
  omniauth:
    title: "Pantry LDAP Login"
    host: "ldap.example.com"
    port: 3268
    method: 'plain'
    base: "dc=example,dc=com"
    uid: "sAMAccountName"
    bind_dn: "your_user@example.com"
    password: "secret_password"
    auth_method: "simple"
    ldap_group: "CN=Group,OU=Users,DC=example,DC=com"
  aws:
    queue_prefix: pantry_example_com
    chef_env_create_queue_name: some_queue
    jenkins_slave_delete_topic_arn: arn:aws:sns:eu-west-1:001100110011:pantry_example_com-jenkins_slave_delete
    ec2_instance_delete_topic_arn: arn:aws:sns:eu-west-1:001100110011:test_arn
    ec2_instance_start_topic_arn: arn:aws:sns:eu-west-1:001100110011:pantry_example_com-ec2_start_command
    ec2_instance_stop_topic_arn: arn:aws:sns:eu-west-1:001100110011:pantry_example_com-ec2_stop_command
    ec2_instance_boot_topic_arn: arn:aws:sns:eu-west-1:001100110011:test_arn
    ec2_instance_resize_topic_arn: arn:aws:sns:eu-west-1:001100110011:test_arn
    vpc_id: "vpc-00110011"
    security_group_windows: "sg-00110011"
    security_group_linux: "sg-00110010"
    security_group_jenkins: "sg-00110012"
    key_pair_name: "aws-ssh-keypair"
    http_proxy: ""
    windows_admin_password: "secreat_password"
    jenkins_server_flavor: "t1.micro"
    jenkins_windows_agent_flavor: "t1.micro"
    jenkins_windows_ami: "ami-00110011"
    jenkins_linux_ami: "ami-00110010"
    jenkins_linux_server_role: "role[jenkins_linux_server]"
    jenkins_windows_agent_role: "role[jenkins_windows_agent]"
    default_subnet: "subnet-00110011"
    ebs:
      't1.micro': 80
      'm1.small': 160
      'm1.medium': 410
      'm1.large': 840
  pantry:
    domain: "example.com"
    default_ou: "OU=Computers,DC=wonga,DC=aws"
    api_key: "00110011-0011-0011-0011-001100110011"
    webapp:
      ssl_enabled: false
  mailer:
    host: "localhost:3000"
    default_options:
      from: pantry@example.com
      reply_to: pantry@example.com
      bcc: pantry@example.com
test:
  omniauth:
    title: "Pantry LDAP Login"
    host: "ldap.example.com"
    port: 3268
    method: 'plain'
    base: "dc=example,dc=com"
    uid: "sAMAccountName"
    bind_dn: "your_user@example.com"
    password: "secret_password"
    auth_method: "simple"
    ldap_group: "CN=Group,OU=Users,DC=example,DC=com"
  aws:
    queue_prefix: pantry_example_com
    jenkins_slave_delete_topic_arn: arn:aws:sns:eu-west-1:001100110011:pantry_example_com-jenkins_slave_delete
    ec2_instance_delete_topic_arn: arn:aws:sns:eu-west-1:001100110011:test_arn
    ec2_instance_start_topic_arn: arn:aws:sns:eu-west-1:001100110011:pantry_example_com-ec2_start_command
    ec2_instance_stop_topic_arn: arn:aws:sns:eu-west-1:001100110011:pantry_example_com-ec2_stop_command
    ec2_instance_boot_topic_arn: arn:aws:sns:eu-west-1:001100110011:test_arn
    ec2_instance_resize_topic_arn: arn:aws:sns:eu-west-1:001100110011:test_arn
    chef_env_create_queue_name: some_queue
    billing_bucket: "some-bucketname"
    vpc_id: "vpc-00110011"
    security_group_windows: "sg-00110011"
    security_group_linux: "sg-00110010"
    security_group_jenkins: "sg-00110012"
    key_pair_name: "aws-ssh-keypair"
    http_proxy: ""
    windows_admin_password: "secreat_password"
    jenkins_server_flavor: "t1.micro"
    jenkins_windows_agent_flavor: "t1.micro"
    jenkins_windows_ami: "ami-00110011"
    jenkins_linux_ami: "ami-00110010"
    jenkins_linux_server_role: "role[jenkins_linux_server]"
    jenkins_windows_agent_role: "role[jenkins_windows_agent]"
    default_subnet: "subnet-00110011"
    ebs:
      't1.micro': 80
      'm1.small': 160
      'm1.medium': 410
      'm1.large': 840
  pantry:
    domain: "example.com"
    default_ou: "OU=Computers,DC=wonga,DC=aws"
    api_key: "00110011-0011-0011-0011-001100110011"
    webapp:
      ssl_enabled: false
  mailer:
    host: "example.com"
    default_options:
      from: pantry@example.com
      reply_to: pantry@example.com
      bcc: pantry@example.com
