- cache [:v1, @ec2_instance] do
  %h1= @ec2_instance.name
  = render 'shared/ec2_instance', ec2_instance: @ec2_instance
  - if @ec2_instance.running?
    = button_to 'Destroy', [:aws, @ec2_instance], method: :delete, data: { confirm: 'This will permanently delete this instance. Are you sure?' }
