- if current_team
  .team{ data: { preload_resource: current_team.id, preload_resource_name: 'team_id' } }
.jenkins_servers{ data: { ng_controller: 'JenkinsServersCtrl', ng_init: 'getInstances()' } }
  - if current_team
    %span
      Current team:
      = link_to current_team.name, current_team
  - else
    %select#change_team_id{ name: 'change_team_id', data: { ng_change: 'getInstances()', ng_model: 'team_id' } }
      %option{ value: '' }
      = user_teams.each do |team|
        %option{ value: team.id }= team.name

  %table.table
    %thead
      %tr
        %th #
        %th InstanceID
        %th Name
        %th ImageID
        %th Groups
        %th State
    %tr{ data: { ng_repeat: 'instance in instances' } }
      %td
        %a{ href: '/jenkins_servers/{{instance.id}}' } {{instance.id}}
      %td {{instance.ec2_instance.id}}
      %td {{instance.ec2_instance.name}}
      %td {{instance.ec2_instance.ami}}
      %td {{instance.ec2_instance.security_group_ids}}
      %td {{instance.ec2_instance.human_status}}
