.full-height {
  height: 100%;
}

.main-container {
  min-height: 100%; /*This can cause issues in IE5.5,IE6*/
  position: relative;
}

.footer-padding {
  padding-bottom: 60px;
}

.main-footer {
  background-color: #eee;
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 100%;
}

