.dark-form {
  background-color: #777;
  margin: 30px;
}

.dark-container {
  background-color: #555;
}

.image-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dark-footer {
  background-color: #555;
  color: #fff;

  A:link {
    color: #add8e6;
  }

  A:visited {
    color: #add8e6;
  }
}
