#user_template {
  display: none;
}

#users .user .icon-remove {
  vertical-align: top;
  cursor: pointer;
}

.lightgray {
  background-color: #eee
}

.text-centered {
  text-align: center
}

.icon-centered{
  float: center
}

.fullwidth{
  width: 100%
}