#user_template {
  display: none;
}

#users .user .icon-remove {
  cursor: pointer;
  vertical-align: top;
}

.lightgray {
  background-color: #eee;
}

.text-centered {
  text-align: center;
}

.icon-centered {
  float: center;
}

.fullwidth {
  width: 100%;
}

.btn-sized {
  width: 50px;
}
