%table.table
  %thead
    %tr
      %th #
      %th Machine
      %th LogText
    - @job_logs.each_with_index do |job_log, index|
      %tr
        %td= index + 1
        %td= link_to job_log.machine, job_job_log_url(job_log.job_id,job_log.id)
        %td= truncate(job_log.log_text, length: 100)
